<%- include('includes/admin/_header') %>

<div class="card">
  <div class="card-header text-center">
    <h6> Semesters</h6>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">New Sem</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Semester</th>
          <th scope="col">School Year</th>
          <th scope="col">Subjects</th>
          <th scope="col">Students</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (semesters.length>0) { %>
          <% semesters.forEach(semester => { %>
            <tr>
              <th scope="row"><%= semester.name %> </th>
              <td><%= semester.schoolyear.year %> </td>
              <td>123</td>
              <td>123</td>
              <td>123</td>
            </tr>
          <% }) %>
        <% } %>
       
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Semester</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/admin/semesters" method="POST">
          <div class="row">
            <div class="col-md-7">
              <div class="mb-3">
                <label for="name" class="col-form-label">Semester:</label>
                <select class="form-select" aria-label="Default select example" id="name" name="name" required>
                  <option value="First Semester">First Semester</option>
                  <option value="Second Semester">Second Semester</option>
                </select>
              </div>
            </div>
            <div class="col-md-5">
              <label for="schoolyearId" class="col-form-label" required>Year:</label>
              <select class="form-select" multiple aria-label="multiple select example" name="schoolyearId">
                <% schoolyears.forEach(schoolyear => { %>
                  <option value="<%=schoolyear.uuid%>" <% if (schoolyear.isCurrentYear) { %>
                    selected
                  <% } %>> <%= schoolyear.year %> </option>
                <% }) %>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('includes/admin/_footer') %>

