<%- include('includes/admin/_header') %>
<div class="card">
  <div class="card-header text-center">
    <h6> Classes</h6>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">New Class</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Subject</th>
          <th scope="col">Description</th>
          <th scope="col">Course</th>
          <th scope="col">Max. Cap</th>
          <th scope="col">Schedule</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <% classes.forEach(Class => { %>
         <tr>
           <td > <%=Class['subject'].subCode%> </td>
           <td>  <%=Class['subject'].description%> </td>
           <td> <%=Class['course'].name%> </td>
           <td> <%=Class.maxNumberofStudents%> </td>
           <td> <%=Class.schedule%> </td>
           <td> <%=Class.startTime%> -  <%=Class.endTime%>  </td>
         </tr>
        <% }) %>
     
      </tbody>
    </table>
  </div>
</div>
<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <!-- Form here -->
      <form action="/admin/classes" method="POST">
       <div class="row">
         <div class="col-md-2">
          <div class="mb-3">
            <label for="section" class="form-label">Section</label>
            <input class="form-control" placeholder="Section" name="section" type="text">
          </div>
          
         </div>
         <div class="col-md-2">
          <div class="mb-3">
            <label for="section" class="form-label">Max. Students </label>
            <input class="form-control" name="maxNumberofStudents" min="0" type="number" max="100">
          </div>
         </div>
         <div class="col-md-4">
          <label class="form-label" for="schoolId">Course</label>
          <select class="form-select " name="courseId" aria-label="Default select example">
            <option selected>Select Course</option>
            <% if (courses) { %>
              <% for( let i = 0; i < courses.length; i++ ) { %>
                <option value="<%= courses[i].uuid %>"><%= courses[i].name %> </option>
              <% } %>        
            <% } %>
          </select>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="schoolId">Subject</label>
          <select class="form-select " name="subjectId" aria-label="Default select example">
            <option selected>Select Subject</option>
            <% if (subjects) { %>
              <% for( let i = 0; i < subjects.length; i++ ) { %>
                <option value="<%= subjects[i].uuid %>"><%= subjects[i].subCode %> </option>
              <% } %>        
            <% } %>
          </select>
        </div>
       </div>
       <div class="row">
        <div class="col-md-3">
          <label class="form-label" for="semester">Semester</label>
          <select class="form-select" id="semester" name="semester" aria-label="Default select example">
            <option selected value="First Semester">First Semester</option>
            <option value="Second Semester" >Second Semester</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="start">Schedule</label>
          <input class="form-control" type="text" id="start" name="schedule" required>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="start">Start Time</label>
          <input class="form-control" type="time" id="start" name="startTime" min="09:00" max="18:00" required>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="start"> End Time</label>
          <input class="form-control" type="time" id="start" name="endTime" min="09:00" max="18:00" required>
        </div>
       </div>
        <input type="submit" class="btn btn-primary mt-3" value="Submit">
      </form>
      </div>
    </div>
  </div>
</div>
<%- include('includes/admin/_footer') %>

